@media (prefers-color-scheme: dark) {
    body { background: black; color: #bbb; }
    table { color: #bbb !important; }
    .form-control, .form-control:focus { background-color: #333; color: #AAA; }
}
div#idPuntosExtra input.btn-secondary {
    min-width: 2rem;
    padding: 1.5% 0%;
    width: 13.2%;
}
div#letras > input {
    max-width: 3.15rem;
}
.info {
    background-color: #0dcaf0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
.palenc {
    cursor: pointer;
}
.rosa {
    background-color: pink;
}
body > div.container-fluid.p-0 > div > div:nth-child(1),
main > div > div > div:nth-child(1) {
    max-width: 24rem;
}